html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #24292d;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.container {
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
}
.movies {
  @apply grid grid-cols-1 md:grid-cols-3 lg:grid-cols-5 gap-3 py-4;
}